@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 10;
    color: #fff;
}

body {
    background: #262A32;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.checkboxBackground{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 15px;
    width: 424px;
    height: 67px;
    background: #1C2127;
    border-radius: 25px;
    z-index: 1;
}

.checkboxBackground p{
    font-family: "Inter";
    font-weight: bold;
    font-size: 30px;
}

.inputForOptions[type="number"]{
    width: 110px;
    height: 44px;
    border-radius: 25px;
    border: none;
    background: #262A32;
    text-decoration: none;
    font-family: "Inter";
    font-size: 25px;
    font-weight: bold;
    padding: 20px 15px 20px 15px;
    text-align: right;
    outline: none;
}

.inputForOptions[type="number"]::-webkit-inner-spin-button{
    display: none;
}