<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/servers.css">
    <title>Servers</title>
</head>

<body onload="getServers()">
    <div class="sideBarParent">
        <div class="imgLogoDiv">
            <img src="/static/img/logo.svg" alt="error" class="imgLogo">
        </div>
        <div class="sideBarOptions">
            <div class="sideBarOption activeSideBarOption">
                <a href="/templates/servers.html">
                    <ion-icon name="game-controller-outline"></ion-icon>
                    Servers
                </a>
            </div>
            <div class="sideBarOption">
                <a href="/templates/profile.html">
                    <ion-icon name="person-outline"></ion-icon>
                    Profile
                </a>
            </div>
            <div class="sideBarOption">
                <a href="/templates/support.html">
                    <ion-icon name="headset-outline"></ion-icon>
                    Support
                </a>
            </div>
            <div class="infoPopups" id="infoPopups"></div>
        </div>
    </div>
    <div class="mainPage">
        <div class="content tabShow">
            <div class="serverCards" id="serverCards">
                <!-- <div class="serverCard">
                    <div class="serverCardImage">
                        <img src="/static/img/serverCardBackground.png" alt="error">
                    </div>
                    <div class="serverCardName">
                        <p>Random Name for example</p>
                    </div>
                    <div class="serverCardDetailsAll">
                        <div class="serverCardDetails">
                            <p id="serverCardDetailsTxtVersion">Version: 1.12.1</p>
                            <p id="serverCardDetailsTxtPlayers">Total Players: 7</p>
                        </div>
                        <div class="serverCardOnOrOff">
                            <p id="serverCardOnOrOffTxt" class="serverCardOnOrOffTxt onTxt">on</p>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="createCard">
                    <div class="createCardText">
                        <p>Create Server</p>
                    </div>
                    <div class="createCardButton">
                        <button onclick="window.location.href='createServer.html'">
                            <ion-icon name="add-outline"></ion-icon>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/static/js/servers.js"></script>
</body>

</html>