@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* margin/padding: top, right, bottom, left */
* {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Istok Web";
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C2127;
    min-height: 100vh;
}

.infoPopup {


    min-width: 430px;
    width: fit-content;
    min-height: 140px;
    border-radius: 25px;
    background: #262A32;
}

.color {
    display: flex;
    min-height: 70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: space-between;
}

.blue {
    background: #2196F3;
}

.green {
    background: #5acb5a;
}

.red {
    background: #f04a4a;
}

.infoCardText {
    transform: translateY(3px);
    display: flex;
    align-items: center;
    font-size: 35px;
    margin-left: 20px;
}

.x-icon {
    display: flex;
    font-size: 40px;
    align-items: center;
    margin-right: 20px;
}

#close-outline {
    color: #000;
    transform: translateY(2px);
    cursor: pointer;
}

.infoPopupDescription {
    text-align: left;
    width: fit-content;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}